<?xml version='1.0' encoding='utf-8'?>
<widget id="com.guty.controlgastos" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Control Gastos GUTY</name>
    <description>Control financiero offline</description>
    <author>Guty</author>
    <content src="index.html" />
    <plugin name="cordova-sqlite-storage" spec="^6.1.0" />
    <preference name="AndroidXEnabled" value="true" />
</widget>
